<% content_for :title, "Edit profile" %>

<div class="w-full max-w-md">
  <div class="p-4">
    <h1 class="text-4xl font-bold mb-4">Edit Profile</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="mb-4">
        <%= f.label :email, class: "text-gray-800" do %>
          Email <span class="text-red-500">*</span>
        <% end %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block border border-gray-200 outline-none focus:border-black focus:ring-black px-3 py-2 mt-2 w-full" %>
        <% if resource.errors.include?(:email) %>
          <% resource.errors.full_messages_for(:email).each do |error| %>
            <p class="text-red-500 mt-2"><%= error %></p>
          <% end %>
        <% end %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4 text-gray-800">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="mb-4">
        <%= f.label :password, class: "text-gray-800" %>
        <i class="text-gray-600">(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "block border border-gray-200 outline-none focus:border-black focus:ring-black px-3 py-2 mt-2 w-full" %>
        <% if resource.errors.include?(:password) %>
          <% resource.errors.full_messages_for(:password).each do |error| %>
            <p class="text-red-500 mt-2"><%= error %></p>
          <% end %>
        <% end %>
        <% if @minimum_password_length %>
          <div class="text-gray-600">
            <%= @minimum_password_length %> characters minimum
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "text-gray-800" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block border border-gray-200 outline-none focus:border-black focus:ring-black px-3 py-2 mt-2 w-full" %>
        <% if resource.errors.include?(:password_confirmation) %>
          <% resource.errors.full_messages_for(:password_confirmation).each do |error| %>
            <p class="text-red-500 mt-2"><%= error %></p>
          <% end %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :current_password, class: "text-gray-800" do %>
          Current password <span class="text-red-500">*</span>
        <% end %>
        <i class="text-gray-600">(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "block border border-gray-200 outline-none focus:border-black focus:ring-black px-3 py-2 mt-2 w-full" %>
        <% if resource.errors.include?(:current_password) %>
          <% resource.errors.full_messages_for(:current_password).each do |error| %>
            <p class="text-red-500 mt-2"><%= error %></p>
          <% end %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.submit "Update", class: "py-3 px-5 bg-black text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>


<h3 class="text-3xl text-gray-800 mb-4">Unhappy?</h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "mb-6 text-red-500 underline" %>
