<% content_for :title, sanitize("Join &middot; Add & Downvote topics") %>

<div class="max-w-md">
  <h1 class="text-4xl font-bold my-4">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block" do %>
        Email <span class="text-red-500">*</span>
      <% end %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-lg w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
      <% if resource.errors.include?(:email) %>
        <% resource.errors.full_messages_for(:email).each do |error| %>
          <%= render "layouts/form_error", error: error %>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block" do %>
        Password <span class="text-red-500">*</span>
      <% end %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "rounded-lg w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
      <% if resource.errors.include?(:password) %>
        <% resource.errors.full_messages_for(:password).each do |error| %>
          <%= render "layouts/form_error", error: error %>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block" do %>
        Password confirmation <span class="text-red-500">*</span>
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-lg w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
      <% if resource.errors.include?(:password_confirmation) %>
        <% resource.errors.full_messages_for(:password_confirmation).each do |error| %>
          <%= render "layouts/form_error", error: error %>
        <% end %>
      <% end %>
    </div>

    <div class="mt-4 mb-6">
      <%= f.submit "Sign up", class: "rounded-lg text-white bg-black font-medium px-4 py-2 hover:cursor-pointer" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
