<%= turbo_frame_tag :search_results do %>
  <h1 class="text-4xl mb-4 pb-4 text-gray-800">
    Search results
    <% if params[:query].present? %>
      for <span class='font-semibold'>"<%= "#{params[:query]}" %>"</span>
    <% end %>
  </h1>

  <% if @topics %>
    <% @topics.each do |topic| %>
      <%= render "topics/topic", topic: topic %>
    <% end %>
  <% end %>

  <% if @users %>
    <% @users.each do |user| %>
      <%= link_to user_path(user), class: "text-2xl underline mt-5", data: { turbo_frame: "_top" } do %>
        <%= user.username %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
