<%= turbo_frame_tag :search_results do %>
  <h1 class="text-4xl mb-4 pb-4 text-gray-800">
    Search results
    <% if params[:query].present? %>
      for <span class='font-semibold'>"<%= "#{params[:query]}" %>"</span>
    <% end %>
  </h1>

  <% if @topics.present? %>
    <h2 class="text-3xl mt-8 mb-2 font-semibold text-gray-800">
      <%= render "layouts/topic_count", topics: @query %>
    </h2>
    <%= turbo_frame_tag "topics_#{@pagy.page}" do %>
      <%= render partial: "topics/topic", collection: @topics, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "topics_#{@pagy.next}", src: topics_path(page: @pagy.next), loading: "lazy" do %>
          <%= render "layouts/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @users.present? %>
    <h2 class="text-3xl mt-8 mb-2 font-semibold text-gray-800">
      <%= render "layouts/user_count", users: @users %>
    </h2>

    <% @users.each do |user| %>
      <%= link_to user_path(user), class: "text-2xl underline mt-5", data: { turbo_frame: "_top" } do %>
        <%= user.username %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
