<%= turbo_frame_tag "topic_#{topic.id}_downvote_counter" do %>
  <%= button_to downvote_topic_path(topic), method: :post, class: "py-2 px-0 mr-1" do %>
    <div class="flex downvote-container items-center">
      <% cache("bx-downvote.svg") do %>
        <%= image_tag "bx-downvote.svg", alt: "Downvote", draggable: false %>
      <% end %>
      <span class="text-sm">
        <%= topic.user_has_downvoted?(current_user) ? '+' : '' %>
        <%= "#{format_count(counter) if counter > 0}" %>
      </span>
    </div>
  <% end %>
<% end %>
