<%= form_with(model: topic, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :title do %>
      Title <span class="text-red-500">*</span>
    <% end %>
    <%= form.text_field :title, placeholder: "Topic title", class: "block border border-gray-200 outline-none focus:border-black focus:ring-black px-3 py-2 mt-2 w-full" %>
    <% if topic.errors.include?(:title) %>
      <% topic.errors.full_messages_for(:title).each do |error| %>
        <%= render "layouts/form_error", error: error %>
      <% end %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :x_link do %>
      X link <span class="text-red-500">*</span>
    <% end %>
    <%= form.text_field :x_link, placeholder: "Link to relevant X post", class: "block border border-gray-200 focus:border-black focus:ring-black outline-none px-3 py-2 mt-2 w-full" %>
    <% if topic.errors.include?(:x_link) %>
      <% topic.errors.full_messages_for(:x_link).each do |error| %>
        <%= render "layouts/form_error", error: error %>
      <% end %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :hashtag do %>
      Hashtag <span class="text-red-500">*</span>
    <% end %>
    <%= form.text_field :hashtag, placeholder: "Hashtag without '#'", class: "block border border-gray-200 focus:border-black focus:ring-black outline-none px-3 py-2 mt-2 w-full" %>
    <% if topic.errors.include?(:hashtag) %>
      <% topic.errors.full_messages_for(:hashtag).each do |error| %>
        <%= render "layouts/form_error", error: error %>
      <% end %>
    <% end %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="inline">
    <%= form.submit class: "py-3 px-5 bg-black text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
