<div id="<%= dom_id topic %>" class="max-w-xl">
  <h1 class="mt-5 <%= action_name == "show" ? 'text-4xl' : 'text-3xl' %>">
    <%= topic.title %>
  </h1>

  <p class="mt-2 text-gray-500 text-sm">
    <code>&#8212;&#8212;</code> <%= topic.user.username %>
  </p>

  <%= embed_tweet_html(topic.x_link) %>

  <p class="my-4 text-gray-500 text-xl">
    #<%= topic.hashtag %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "View topic", topic, class: "rounded-lg py-2 px-4 bg-gray-100 inline-block font-medium" %>
    <% if user_signed_in? %>
      <%= link_to "Edit topic", edit_topic_path(topic), class: "rounded-lg py-2 ml-2 px-4 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Downvote", topic, class: "rounded-lg py-2 ml-2 px-4 bg-gray-100 inline-block font-medium" %>
    <% end %>
  <% end %>
</div>
