<div id="<%= dom_id topic %>" class="max-w-xl">
  <%= link_to topic, class: "hover:underline" do %>
    <h1 class="mt-5 <%= action_name == "show" ? 'text-4xl' : 'text-3xl' %>">
      <%= topic.title %>
    </h1>
  <% end %>

  <%= link_to user_path(topic.user), class: "hover:underline" do %>
    <p class="mt-2 text-gray-500 text-sm">
       @<%= topic.user.username %>
    </p>
  <% end %>

  <%= embed_tweet_html(topic.x_link) %>

  <p class="my-4 text-gray-500 text-xl">
    #<%= topic.hashtag %>
  </p>

  <% if action_name != "show" %>
    <div class="flex">
      <% if user_topics(topic) %>
        <%= link_to "Edit topic", edit_topic_path(topic), class: "py-2 ml-2 px-4 bg-gray-100 inline-block font-medium" %>
      <% end %>

      <% if user_signed_in? %>
        <%= render "topics/downvote_counter", counter: topic.downvotes, topic: topic %>
      <% end %>
    </div>
  <% end %>
</div>
