<div id="<%= dom_id topic %>" class="max-w-xl">
  <h1 class="mt-5 <%= action_name == 'show' ? 'text-4xl' : 'text-3xl' %>">
    <% if action_name == 'show' %>
      <%= topic.title %>
    <% else %>
      <%= link_to topic, class: 'hover:underline', data: { turbo_frame: '_top' } do %>
        <%= topic.title %>
      <% end %>
    <% end %>
  </h1>

  <p class="mt-2 text-gray-500 text-sm">
    <%= link_to user_path(topic.user), data: { turbo_frame: "_top" } do %>
      <%= topic.user.username %>
    <% end %>
    <%= posted_on(topic.created_at) %>
  </p>

  <%= embed_tweet(topic.x_link) %>

  <p class="my-4 text-gray-600 text-xl">
    #<%= topic.hashtag %>
  </p>

  <% if action_name != "show" %>
    <div class="flex">
      <% if user_signed_in? %>
        <%= render "topics/downvote_counter", counter: topic.downvotes, topic: topic %>
      <% end %>
    </div>
  <% end %>
</div>
