<% content_for :title, "Edit password" %>

<div class="max-w-md">
  <h2 class="text-2xl font-semibold mb-6">Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mt-4">
      <%= f.label :password, "New password", class: "block font-semibold text-gray-800" %>
      <% if @minimum_password_length %>
        <em class="text-gray-600">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "rounded-lg w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
      <%= render "devise/shared/form_error", field: :password %>
    </div>

    <div class="mt-4">
      <%= f.label :password_confirmation, "Confirm new password", class: "rounded-lg block font-semibold text-gray-800" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
      <%= render "devise/shared/form_error", field: :password_confirmation %>
    </div>

    <div class="mt-4">
      <%= f.submit "Change my password", class: "rounded-lg py-3 px-5 bg-black text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
