<% content_for :title, sanitize("Log in &middot; Welcome back") %>

<div class="max-w-md">
  <h1 class="text-4xl font-bold my-4">Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-lg w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded-lg w-full px-3 py-2 border border-gray-300 mt-2 focus:outline-none focus:border-black focus:ring-black" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <%= f.check_box :remember_me, checked: true, class: "rounded-lg mr-2 border text-black hover:cursor-pointer focus:outline-none focus:ring-transparent" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="mt-4 mb-6">
      <%= f.submit "Log in", class: "rounded-lg text-white bg-black font-medium px-4 py-2 hover:cursor-pointer" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
