<nav
  class="bg-white shadow-md fixed top-0 w-full hidden z-1"
  data-navbar-target="content">
  <div class="flex justify-between">
    <div></div>
    <div data-action="click->navbar#close" class="hover:cursor-pointer px-5 pt-4">
      <%= image_tag "bx-x-circle.svg", alt: "Close", class: "w-8", draggable: false %>
    </div>
  </div>
  <ul class="text-right">
    <li class="py-2 px-5 text-lg"><%= link_to "Home", root_path %></li>
    <li class="py-2 px-5 text-lg"><%= link_to "Add topic", new_topic_path %></li>
    <li class="py-2 px-5 text-lg"><%= link_to "Plugs", plug_path %></li>
    <% if user_signed_in? %>
      <li class="py-2 px-5 text-lg">
        <%= link_to "Profile", user_path(current_user) %>
      </li>
      <li class="py-2 px-5 text-lg text-gray-500 bg-gray-100 border-t border-gray-200">
        <%= link_to "Sign out", destroy_user_session_path,
          class: "sign-out", data: { turbo_method: :delete } %>
      </li>
    <% else %>
      <li class="py-5 px-5 text-lg">
        <%= link_to "Sign in",  new_user_session_path,
          class: "py-2 px-3 bg-black text-white rounded-full" %>
      </li>
   <% end %>
  </ul>
</nav>
