<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head" %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= render "shared/confirm_modal" %>

    <main class="container mx-auto mt-28 mb-4 px-5 flex flex-col">
      <div class="flash">
        <%= render "shared/flash" %>
      </div>

      <%= yield %>
    </main>
    <%= render "shared/scroll_to_top" %>
  </body>
</html>
